@charset "UTF-8";
body, div, p, h1, h2, h3, ul, li, a, em { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0px; margin: 0px; }

.nav ul, .page-body .school-index-intro .wrap, .main .wrap, .friend .lian { zoom: 1; }
.nav ul:after, .page-body .school-index-intro .wrap:after, .main .wrap:after, .friend .lian:after { clear: both; }
.nav ul:before, .page-body .school-index-intro .wrap:before, .main .wrap:before, .friend .lian:before, .nav ul:after, .page-body .school-index-intro .wrap:after, .main .wrap:after, .friend .lian:after { content: ""; display: table; }

.aside .process ul.dynamic li::before { content: ""; display: inline-block; width: 6px; height: 6px; background-color: #ff8838; vertical-align: middle; margin-right: 10px; border-radius: 50%; }

.page-body .trends-news .news-container .news-content p, .page-body .trends-news .que-container li a, .aside .process ul.dynamic li a { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

input { text-indent: 1em; }
input::-webkit-input-placeholder { /*WebKit browsers*/ color: #999; }
input::-moz-input-placeholder { /*Mozilla Firefox*/ color: #999; }
input::-ms-input-placeholder { /*Internet Explorer*/ color: #999; }
input[type="submit"] { text-indent: 0; cursor: pointer; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

body { font-size: 14px; padding-bottom: 126px; }

.wrap { width: 1200px; margin: 0 auto; }

.lf { float: left; }

.rt { float: right; }

ul.clearfix li { float: left; }

/*页面头部*/
.header { height: 80px; }
.header a { line-height: 80px; display: inline-block; vertical-align: middle; }
.header a span { font-size: 18px; position: relative; top: 6px; }
.header .lf img { max-width: 100%; max-height: 80px; }
.header .subtitle { display: none; }
.header .rt .enroll-content { display: inline-block; vertical-align: middle; padding-right: 15px; margin-right: 12px; border-right: 1px solid #e9e9e9; }
.header .rt .enroll-content .enroll { font-size: 16px; font-weight: 700; color: #ff8838; }
.header .rt .enroll-content .enroll span { padding-left: 24px; background: url(../images/tel.png) no-repeat; }
.header .rt .enroll-content .hotline { color: #999; }
.header .rt .tel-num { font-size: 26px; color: #ff8838; }

.banner a { display: block; width: 100%; height: 100%; }

.nav { border-top: 1px solid #eee; }
.nav ul li { float: left; padding: 16px 0px; }
.nav ul li a { display: block; padding: 0 34px; border-right: 1px solid #dadada; font-size: 16px; }
.nav ul li:hover, .nav ul li.active { background-color: #543b89; }
.nav ul li:hover a, .nav ul li.active a { color: #fff; border-color: #543b89; }
.nav ul li:last-child a { border-right: none; }

/*页面主体*/
.page-body .school-index-intro { padding: 50px 0; background-color: #f1f1f1; }
.page-body .school-index-intro .bd { line-height: 36px; color: #666; }
.page-body .school-index-intro .bd em, .page-body .school-index-intro .bd a { color: #ff7f29; }
.page-body .school-index-intro .bd .txt { text-indent: 30px; text-align: justify; }
.page-body .school-index-intro .wrap > .lf { width: 600px; margin-right: 50px; }
.page-body .school-index-intro .wrap > .rt { width: 550px; }
.page-body .school-index-intro .sign-in { padding-top: 20px; }
.page-body .school-index-intro .img-container { margin-right: -30px; margin-bottom: 60px; }
.page-body .school-index-intro .img-container li { margin-right: 30px; width: 380px; padding: 8px 8px 0 8px; background-color: #fff; }
.page-body .school-index-intro .img-container li .li-title { font-size: 20px; margin-top: 20px; text-align: center; }
.page-body .school-index-intro .img-container li .txt { padding: 0 20px; margin-bottom: 20px; font-size: 16px; text-align: justify; color: #999; height: 84px; line-height: 30px; overflow: hidden; }
.page-body .school-index-intro .teacheraInfo { padding: 36px 50px 18px 40px; background-color: #fff; }
.page-body .school-index-intro .teacheraInfo .author-item { display: none; }
.page-body .school-index-intro .teacheraInfo .author-item .item-title { font-size: 22px; color: #ff8838; }
.page-body .school-index-intro .teacheraInfo .content { line-height: 32px; height: 68px; width: 1100px; overflow: auto; color: #666; margin: 20px 0; }
.page-body .school-index-intro .teacheraInfo .show { display: block; }
.page-body .school-index-intro .teacheraInfo .author { position: relative; }
.page-body .school-index-intro .teacheraInfo .author ul { margin-right: -42px; }
.page-body .school-index-intro .teacheraInfo .author ul li { position: relative; width: 100px; height: 100px; margin-right: 42px; margin-top: 20px; border-radius: 50%; border: 2px solid #fff; cursor: pointer; }
.page-body .school-index-intro .teacheraInfo .author ul li.active { border: 2px solid #ffa200; }
.page-body .school-index-intro .teacheraInfo .author ul li img { width: 100%; border-radius: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.page-body .school-index-intro .teacheraInfo .author ul li i { position: absolute; top: -14px; display: block; width: 100%; height: 14px; }
.page-body .school-index-intro .teacheraInfo .author ul li i.active { background: url("../images/iconfont-jt.png") no-repeat 50% 0; }
.page-body .school-index-intro .teacheraInfo .author .more { position: absolute; top: 50%; margin-top: -8px; left: 574px; }
.page-body .hasline { border-bottom: 1px solid #f0efef; }
.page-body .school-index-content { padding: 60px 0; }
.page-body .school-index-content .lf { width: 400px; }
.page-body .school-index-content .lf img { width: 400px !important; height: auto !important; }
.page-body .school-index-content .rt { margin-left: 40px; width: 750px; }
.page-body .school-index-content .rt .title { font-size: 22px; color: #666; padding-bottom: 24px; }
.page-body .school-index-content .rt .title .a-default { margin-left: 30px; padding-left: 18px; font-size: 14px; color: #999; background: url(../images/write.png) no-repeat 0% 40%; }
.page-body .school-index-content .rt .cousre-setting { padding-bottom: 18px; text-indent: -12px; }
.page-body .school-index-content .rt .bd .txt { line-height: 32px; text-indent: 30px; text-align: justify; color: #666; margin-bottom: 14px; }
.page-body .school-index-content .rt .consult { width: 100%; line-height: 34px; background-color: #f6f6f6; }
.page-body .school-index-content .rt .consult .a-default { margin-left: 18px; padding-left: 18px; padding-right: 15px; font-size: 14px; color: #999; }
.page-body .school-index-content .rt .consult .test { background: url(../images/write.png) no-repeat 0% 40%; }
.page-body .school-index-content .rt .consult .zx { background: url(../images/message.png) no-repeat 0% 40%; }
.page-body .index-stutdent-info { padding: 16px 0 16px 0; line-height: 36px; }
.page-body .index-stutdent-info .lf { margin-right: 26px; }
.page-body .index-stutdent-info .lf p { width: 420px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #666; }
.page-body .index-stutdent-info .lf p .direction { display: inline-block; width: 70px; padding-left: 4px; height: 20px; line-height: 20px; margin-right: 10px; background: url(../images/bg-direction.png) no-repeat; color: #ff8838; }
.page-body .index-stutdent-info .lf span { color: #999; }
.page-body .index-stutdent-info .rt { margin-left: 0; width: 300px; }
.page-body .index-stutdent-info .rt p { color: #666; }
.page-body .index-stutdent-info .rt span { color: #999; }
.page-body .tel-div { line-height: 40px; }
.page-body .tel-div .commonBtn { margin-right: 18px; margin-top: 0px; }
.page-body .tel-div .tel { display: inline-block; margin-left: 10px; padding-left: 24px; background: url(../images/tel.png) no-repeat 0% 50%; font-size: 16px; color: #666; }
.page-body .tel-div .tel .tel-num { font-size: 20px; color: #ff8838; vertical-align: bottom; }
.page-body .trends-news { margin: 60px 0 0; }
.page-body .trends-news .hd { padding-bottom: 12px; border-bottom: dotted 1px #d2d2d2; }
.page-body .trends-news .news { width: 700px; }
.page-body .trends-news .more { float: right; padding-top: 16px; }
.page-body .trends-news .rt { width: 450px; }
.page-body .trends-news .news-container { padding: 10px 0px 0px 10px; border-bottom: 1px dotted #d2d2d2; }
.page-body .trends-news .news-container li { margin-bottom: 12px; }
.page-body .trends-news .news-container .news-date { padding: 12px 8px; *padding: 2px 2px; width: 72px; height: 70px; text-align: center; background-color: #533797; }
.page-body .trends-news .news-container .news-date .time { display: block; font-size: 20px; color: #fff; padding-bottom: 2px; border-bottom: 1px solid #6b53a6; }
.page-body .trends-news .news-container .news-date .date { display: block; color: #cab6fd; margin-top: 4px; }
.page-body .trends-news .news-container .news-content { padding: 0px 30px 0px 20px; margin: 12px 0; border-right: 1px solid #d7d7d7; }
.page-body .trends-news .news-container .news-content p { font-size: 16px; margin-bottom: 5px; }
.page-body .trends-news .news-container .news-content span { display: inline-block; font-size: 12px; color: #999; width: 510px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.page-body .trends-news .news-container .news-details { width: 56px; *width: 28px; *padding-left: 10px; text-align: center; line-height: 72px; }
.page-body .trends-news .news-container .news-details a { display: inline-block; width: 100%; height: 100%; }
.page-body .trends-news .que-container { font-size: 14px; }
.page-body .trends-news .que-container li { width: 100%; padding-left: 34px; height: 44px; line-height: 44px; border-bottom: dotted 1px #d2d2d2; background: url(../images/inquiry.png) no-repeat 0% 50%; }
.page-body .trends-news .que-container li a { display: inline-block; }

.intro-title { font-size: 26px; color: #444; padding-bottom: 30px; }
.intro-title em { color: #6745a6; }
.intro-title small { padding-left: 10px; font-size: 24px; color: #d1d1d1; }

.blue-bar-x { display: block; width: 50px; height: 2px; background-color: #ff8838; margin: 0 auto; margin-bottom: 20px; margin-top: 10px; }

.collect ul { margin-right: -20px; }
.collect ul input { margin: 0 20px 20px 0; }
.collect input { width: 264px; height: 40px; line-height: 40px; background-color: #ffffff; border: none; }
.collect input[type="submit"] { width: 100%; line-height: 40px; background-color: #ff8838; color: #fff; }
.collect select { background: transparent; border: solid 1px #e5e5e5; padding: 0 1em; height: 44px; }
.collect .sel-grade { width: 264px; margin-right: 20px; margin-bottom: 16px; border: none; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/builder/images/icon_1.png) no-repeat 95% #fff; }

.commonBtn { display: inline-block; text-align: center; width: 140px; line-height: 40px; }

.btn-active { background-color: #ff8838; border: 1px solid #ff8838; color: #fff; }

.fast-sign { padding-top: 35px; }
.fast-sign .collect { margin-left: 8px; width: 300px; padding: 20px; background-color: #533797; }
.fast-sign .collect .fast-title { font-size: 24px; text-align: center; color: #fff; margin-bottom: 20px; }
.fast-sign .collect input { margin: 0 auto; width: 100%; line-height: 40px; margin-bottom: 20px; }
.fast-sign .collect input[type="submit"] { text-indent: 0; }

.chart { position: relative; margin-left: 160px; }
.chart .chart-cont { width: 180px; height: 145px; background: url(../images/chart.jpg) no-repeat 50% 0%; }

.chart-txt { position: absolute; bottom: 2px; width: 180px; text-align: center; height: 20px; line-height: 20px; }

.percent { position: relative; width: 180px; line-height: 145px; text-align: center; margin-left: 30px; }
.percent .percent-lf { position: absolute; top: 30%; background-color: #55a1ff; margin-right: 10px; }
.percent .percent-rt { position: absolute; top: 30%; right: 0; background-color: #4ed694; margin-left: 10px; }
.percent div { width: 50px; height: 50px; line-height: 50px; border-radius: 18px; color: #fff; }
.percent .dotted { font-size: 24px; }

/*面包屑*/
.page-path { font-size: 14px; line-height: 42px; color: #888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.page-path p { padding-left: 28px; background: url(../images/index.jpg) no-repeat 0% 40%; }
.page-path a:hover { color: #f05630; }
.page-path .cur { color: #f05630; }

.degree { width: 65px; display: inline-block; background: url(../images/degree.png) no-repeat 0px 0px; }
.degree i.degree, .degree i.star { height: 12px; }
.degree .star { width: 70%; display: block; overflow: hidden; background: url(../images/degree.png) no-repeat 0px -15px; }

.main { padding: 20px 0; background-color: #f1f1f1; }
.main .team-introduce { min-height: 1454px; padding-bottom: 30px; background-color: #fff; }
.main .team-introduce .show { display: none; }

.aside { width: 300px; margin-right: 20px; }
.aside > div { padding: 20px 16px; }
.aside .process { background-color: #fff; margin-bottom: 20px; }
.aside .process .title { font-size: 18px; font-weight: 700; padding-bottom: 14px; border-bottom: 1px solid #e2e2e2; }
.aside .process ul.sign { margin: 20px 0 -28px 14px; background: url(../images/dotted.png) no-repeat 21px 24px; }
.aside .process ul.sign li { position: relative; margin-bottom: 28px; }
.aside .process ul.sign li > span { display: inline-block; }
.aside .process ul.sign li .step { width: 42px; height: 42px; line-height: 42px; margin-right: 20px; text-align: center; border-radius: 50%; background-color: #eee; color: #666; }
.aside .process ul.sign li .content { margin-right: 18px; font-size: 16px; }
.aside .process ul.sign li .tel { position: absolute; left: 66px; top: 30px; font-size: 16px; font-weight: 700; color: #ff8838; }
.aside .process ul.sign li .enroll { width: 76px; line-height: 22px; text-align: center; background-color: #ff8838; }
.aside .process ul.sign li .enroll a { width: 100%; height: 100%; color: #fff; }
.aside .process ul.dynamic { color: #ff8838; padding: 20px 0 0; }
.aside .process ul.dynamic li { margin-bottom: 20px; }
.aside .process ul.dynamic li:last-child { margin-bottom: 0; }
.aside .process ul.dynamic li a { display: inline-block; width: 246px; vertical-align: middle; }
.aside .fast-sign { padding: 0; }
.aside .fast-sign .collect { background: url(../images/signUp.png) no-repeat 0% 0%; margin-left: 0; }
.aside .fast-sign .collect h2 { font-size: 18px; font-weight: 700; margin-bottom: 20px; }

.article { width: 880px; }
.article .title { border-bottom: 1px solid #e2e2e2; }
.article .title .txt { display: block; font-size: 18px; padding-left: 14px; margin-bottom: 14px; border-left: 2px solid #ff8838; }
.article .title .txt em { color: #ff8838; }
.article .top { margin-bottom: 20px; }
.article .caption { padding: 20px 16px 0px 14px; background-color: #fff; }
.article .basic-info { padding: 34px 16px 16px 32px; background-color: #fff; }
.article .basic-info ul { max-width: 700px; }
.article .basic-info ul li { min-width: 250px; margin-right: 20px; margin-bottom: 20px; color: #999; }
.article .introduce { background-color: #fff; }
.article .introduce .setting-nav { background-color: #e5e5e5; }
.article .introduce .setting-nav li { padding: 12px 20px; border-right: 1px solid #fff; cursor: pointer; }
.article .introduce .setting-nav li a { color: #666; }
.article .introduce .setting-nav li.active { background-color: #543b89; color: #fff; }
.article .introduce .setting-nav li.active a { color: #fff; }
.article .introduce .setting-nav li:hover { background-color: #543b89; color: #fff; }
.article .introduce .setting-nav li:hover a { color: #fff; }
.article .introduce .data-img { padding: 40px 0 60px 0; }
.article .introduce .data-img .chart { margin: 0 80px 0 100px; }
.article .introduce .data-img .chart .chart-bg { width: 200px; height: 200px; background: url(../images/chart.jpg) no-repeat 50% 50%; }
.article .introduce .data-img .percent { min-width: 300px; height: 200px; line-height: 200px; margin-left: 0; padding-left: 80px; border-left: 1px dotted #dcdcdc; }
.article .introduce .data-img .chart-txt { width: 200px; }
.article .introduce .team-detail { padding: 0 15px; background-color: #fff; }
.article .introduce .team-detail .title { width: 100%; line-height: 38px; background-color: #e5e5e5; }
.article .introduce .team-detail .title p { width: 100px; text-align: center; background-color: #543b89; color: #fff; }
.article .introduce .team-detail .team-content { padding: 30px 0; margin: 0 15px; border-bottom: 1px solid #eaeaea; }
.article .introduce .team-detail .team-content .lf { margin-right: 40px; }
.article .introduce .team-detail .team-content .rt { width: 616px; }
.article .introduce .team-detail .team-content .rt .li-title { font-size: 18px; padding-bottom: 20px; }
.article .introduce .team-detail .team-content .rt .li-title span { padding-right: 22px; }
.article .introduce .team-detail .team-content .rt .li-title small { display: inline-block; font-size: 14px; height: 24px; vertical-align: middle; color: #ff8838; }
.article .introduce .team-detail .team-content .rt p { line-height: 26px; text-align: justify; color: #777; }
.article .introduce .team-detail .open-more { text-align: center; height: 40px; line-height: 40px; margin: 0 15px; }
.article .introduce .team-detail .open-more .open-more-btn { width: 100%; height: 100%; background-color: #e6e5e5; cursor: pointer; }
.article .introduce .team-detail .open-more .open-more-btn span { padding-right: 12px; font-weight: 700; color: #999; background: url(../images/jiantou.jpg) no-repeat 100% 3px; }
.article .introduce .team-detail .open-more .open-more-btn span.hidden { background: url(../images/up.jpg) no-repeat 100% 3px; }
.article .introduce .scene-img { padding: 28px 30px 0 20px; }
.article .introduce .scene-img ul { margin-right: -22px; }
.article .introduce .scene-img ul li { margin: 0 22px 38px 0; }
.article .introduce .scene-img ul li .txt { padding-top: 12px; text-align: center; color: #666; }
.article .introduce .news-page { padding: 0 14px; }
.article .introduce .news-page .news-item li { cursor: pointer; padding: 30px 24px 32px 15px; border-bottom: 1px dotted #dcdcdc; }
.article .introduce .news-page .news-item li:hover { background-color: #eee; }
.article .introduce .news-page .news-item li:hover .time { color: #ff8838; }
.article .introduce .news-page .news-item li:hover .news-content h3 { color: #ff8838; }
.article .introduce .news-page .news-item li .news-date { margin-right: 30px; text-align: center; }
.article .introduce .news-page .news-item li .news-date .time { font-size: 34px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #d7d7d7; }
.article .introduce .news-page .news-item li .news-date .date { color: #a6a6a6; }
.article .introduce .news-page .news-item li .news-content { width: 720px; }
.article .introduce .news-page .news-item li .news-content .cont-title { font-size: 16px; line-height: 31px; padding-bottom: 18px; }
.article .introduce .news-page .news-item li .news-content p { line-height: 27px; color: #989898; }
.article .introduce .question-page { padding: 0 27px; }
.article .introduce .question-page .question-item { background: url(../images/problem.png) no-repeat; }
.article .introduce .question-page .question-item .list { padding: 22px 18px 26px 36px; margin-top: 20px; cursor: pointer; }
.article .introduce .question-page .question-item .list .list-title { font-weight: 700; padding-left: 26px; margin-bottom: 20px; background: url(../images/doubt.jpg) no-repeat left center; font-size: 16px; }
.article .introduce .question-page .question-item .list .txt { line-height: 24px; height: 48px; overflow: hidden; color: #777; }
.article .introduce .question-page .question-item .spread { text-align: right; }
.article .introduce .question-page .question-item .spread i { display: block; width: 100%; height: 20px; cursor: pointer; background: url(../images/open.jpg) no-repeat 100% 100%; }
.article .introduce .question-page .question-item .spread i.closeUp { background: url(../images/close.jpg) no-repeat 100% 100%; }
.article .detail { padding: 20px 28px 28px 32px; background-color: #fff; }
.article .detail .no-indent { text-indent: 0; }
.article .detail .no-margin { margin-bottom: 0; }
.article .detail p { margin-bottom: 10px; text-indent: 2em; line-height: 31px; text-align: justify; color: #666; }
.article .detail span { line-height: 31px; text-align: justify; color: #666; }
.article .detail li { line-height: 31px; text-align: justify; color: #666; }
.article .detail .img { text-align: center; }
.article .detail em { font-weight: 700; color: #333; }
.article .detail .summary { display: block; line-height: 30px; margin-top: 20px; font-weight: 700; text-indent: 0; color: #533797; font-size: 16px; }
.article .detail .summary-no-margin { display: block; line-height: 30px; font-weight: 700; text-indent: 0; color: #533797; }
.article .detail .indent { display: block; text-indent: 28px; }
.article .detail .marginTop { margin-top: 20px; }
.article .detail .marginTop span { display: block; }
.article .detail .bright-point { margin-bottom: 16px; }
.article .order-page { padding: 25px 30px 10px; background: #fff; }
.article .order-page .hint { height: 74px; line-height: 26px; padding: 14px 90px 0 16px; margin-bottom: 30px; background-color: #f1f1f1; color: #999; }
.article .order-page .collect li { margin-bottom: 26px; }
.article .order-page .collect input { margin: 0; height: 44px; width: 332px; border: solid 1px #e5e5e5; }
.article .order-page .collect input.order-submit { margin-left: 126px; border: none; }
.article .order-page .collect select { width: 332px; border: solid 1px #e5e5e5; background: url(https://img.thea.cn/public/platform/thea/201912/hbj/builder/images/icon_1.png) no-repeat 95% #fff; }
.article .order-page .collect .name { display: inline-block; height: 44px; line-height: 44px; margin-right: 16px; width: 106px; text-align: right; }
.article .hi-school-outline { padding: 26px 30px 50px 26px; background-color: #fff; }
.article .hi-school-outline .image-container { width: 320px; margin-right: 24px; }
.article .hi-school-outline .image-container img { width: 100%; }
.article .hi-school-outline .right-section { width: 480px; }
.article .hi-school-outline .right-section .cousre-setting { font-size: 22px; color: #666; text-indent: -12px; }
.article .hi-school-outline .right-section .consult { margin: 22px 0 28px 0; }
.article .hi-school-outline .right-section .consult a { display: inline-block; position: relative; border-radius: 3px; padding: 2px 9px 2px 26px; margin-right: 18px; }
.article .hi-school-outline .right-section .consult a.test { border: 1px solid #ff8838; color: #ff8838; }
.article .hi-school-outline .right-section .consult a.test i { background: url(../images/write.png) no-repeat 50% 50%; }
.article .hi-school-outline .right-section .consult a.zx { background-color: #ff8838; color: #fff; }
.article .hi-school-outline .right-section .consult a.zx i { background: url(../images/msg.png) no-repeat 50% 50%; }
.article .hi-school-outline .right-section .consult a i { position: absolute; z-index: 10; height: 23px; width: 15px; left: 7px; top: 0px; }
.article .hi-school-outline .right-section ul { width: 470px; margin-bottom: 13px; }
.article .hi-school-outline .right-section ul li { width: 230px; line-height: 32px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.article .hi-school-outline .right-section .tel { display: inline-block; width: 100%; height: 40px; line-height: 40px; padding-left: 34px; background: url(../images/tel.png) no-repeat 10px 50% #f4f4f4; font-size: 16px; color: #666; }
.article .hi-school-outline .right-section .tel .tel-num { font-size: 20px; color: #ff8838; vertical-align: bottom; }

.friend { padding-top: 30px; }
.friend .link-title { font-size: 26px; color: #444; padding-bottom: 30px; }
.friend .link-title em { color: #6745a6; }
.friend .link-title small { padding-left: 10px; font-size: 24px; color: #d1d1d1; }
.friend .lian { margin-right: -20px; }
.friend .lian li { float: left; }
.friend li { padding: 8px 12px; margin-right: 20px; margin-bottom: 18px; background-color: #f0f0f0; color: #666; }

.footsusp { position: fixed; z-index: 62; bottom: 0; left: 0; width: 100%; height: 126px; background: url(../images/footerbg.jpg) no-repeat center; background-size: auto 100%; }
.footsusp .footsusp-icon1, .footsusp .footsusp-icon2, .footsusp .footsusp-close { position: absolute; }
.footsusp .footsusp-icon1 { top: -60px; left: 0; width: 118px; height: 150px; background: url(../images/footericon1.png); }
.footsusp .footsusp-icon2 { top: -60px; right: 0; width: 220px; height: 138px; background: url(../images/footericon2.png); }
.footsusp .footsusp-close { top: 0; right: 18%; width: 35px; height: 35px; background: url(../images/footerclose.png); cursor: pointer; }
.footsusp .footsusp-fl { float: left; width: 760px; }
.footsusp .footsusp-fl input { margin-right: 12px; width: 170px; height: 34px; border: 0; border-radius: 3px; line-height: 34px; text-indent: 1em; background: #fff; }
.footsusp .footsusp-fl input[type="submit"] { width: 114px; height: 34px; border: 0; border-radius: 3px; color: #fff; background: #ff724f; }
.footsusp .susp-title { font-size: 24px; font-weight: bold; color: #fffc00; line-height: 65px; }
.footsusp .footsusp-fr { float: right; margin-top: 56px; padding-left: 60px; width: 310px; *width: 250px; color: #fff; background: url(../images/footertel.png) no-repeat left center; }
.footsusp .footsusp-fr span { font-size: 12px; }
.footsusp .footsusp-fr p { font-size: 16px; font-weight: bold; }

/*thea左侧自定义漂浮*/
#msRfloat { width: 121px; height: 306px; background: url(../images/gjfloat_r.png) no-repeat; position: fixed; top: 20%; right: 1%; z-index: 100; }
#msRfloat a { display: block; width: 100%; height: 91%; }
#msRfloat #toTop { display: block; width: 100%; height: 9%; cursor: pointer; }

/*分页*/
.page-wrap { width: 100%; display: -webkit-box; display: box; box-orient: horizontal; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
.page-wrap .page { margin: 30px auto; line-height: 34px; box-pack: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.page-wrap .page a { color: #666; display: block; float: left; width: 32px; height: 32px; text-align: center; line-height: 32px; background: #fff; font-size: 14px; margin-right: 10px; border: 1px solid #ddd; border-radius: 4px; }
.page-wrap .page a.first, .page-wrap .page a.end { width: 62px; background: #eee; }
.page-wrap .page a.next, .page-wrap .page a.prev { width: 90px; background: #eee; }
.page-wrap .page a.cur, .page-wrap .page a:hover { background: #f05630; color: #fff; border-color: #f05630; }
.page-wrap .page span { display: block; float: left; width: 32px; height: 32px; line-height: 25px; font-size: 14px; color: #212b4c; margin-left: -10px; }
.page-wrap .page span.total { width: auto; line-height: 34px; margin-right: 10px; color: #666; }

.wap-show { display: none; }

@media screen and (max-width: 750px) { body, div, p, h1, h2, h3, ul, li, a, em { font-size: pr(26px); }
  .nav ul:before, .nav ul:after { display: none; }
  .wrap { width: 10rem; }
  .space-between, .header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .space-around { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; }
  .lf, .rt { float: none; }
  /*页面头部*/
  .header { height: 1.3333333333rem; padding: 0 0.32rem; }
  .header .lf img { max-height: 0.72rem; }
  .header .subtitle { display: inline-block; vertical-align: middle; font-size: 0.32rem; color: #333333; }
  .header .rt { display: none; }
  .school-title { display: block; height: 1.04rem; line-height: 1.04rem; background-color: #543b89; font-size: 0.4rem; color: #ffffff; text-align: center; }
  .nav { border-top: 1px solid #eee; padding: 0 0.32rem; }
  .nav ul { overflow-x: scroll; white-space: nowrap; }
  .nav ul li { display: inline-block; float: none; padding: 0.2133333333rem 0px; }
  .nav ul li a { padding: 0 0.1333333333rem 0.2133333333rem; border-right: none; font-size: 0.3733333333rem; }
  .nav ul li.active { background-color: #fff; }
  .nav ul li.active a { color: #543b89; }
  .nav ul li.active::after { display: block; content: ""; width: 0.6rem; height: 0.0666666667rem; background-color: #543b89; margin: 0 auto; }
  .banner { display: none; }
  .wap-banner { text-align: center; }
  .wap-banner img { border-radius: 0.1066666667rem; }
  .school .sc-head { font-size: 0.3733333333rem; line-height: 0.4533333333rem; color: #444444; }
  .school .sc-head li.cur { font-weight: bold; font-size: 0.4266666667rem; }
  /*面包屑*/
  .page-path { display: none; }
  .main { display: none; }
  /*thea左侧自定义漂浮*/
  #msRfloat { display: none; } }
/*# sourceMappingURL=index.css.map */