body,
div,
p,
h1,
h2,
h3,
ul,
li,
a,
em,
input,
select {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

p {
  line-height: 1.6;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
%point-a {
  &::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #ff8838;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
  }
}
%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
input {
  text-indent: 1em;
  &::-webkit-input-placeholder {
    /*WebKit browsers*/
    color: #999;
  }
  &::-moz-input-placeholder {
    /*Mozilla Firefox*/
    color: #999;
  }
  &::-ms-input-placeholder {
    /*Internet Explorer*/
    color: #999;
  }
  &[type="submit"] {
    text-indent: 0;
    cursor: pointer;
  }
}
select {
  appearance: none;
}

body {
  font-size: 14px;
  padding-bottom: 126px;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}

// 左浮动
.lf {
  float: left;
}
// 右浮动
.rt {
  float: right;
}
ul {
  &.clearfix {
    li {
      float: left;
    }
  }
}

/*页面头部*/
.header {
  height: 80px;
  a {
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
    span {
      font-size: 18px;
      position: relative;
      top: 6px;
    }
  }

  .lf {
    img {
      max-width: 100%;
      max-height: 80px;
    }
  }
  .subtitle {
    display: none;
  }

  .rt {
    .enroll-content {
      display: inline-block;
      vertical-align: middle;
      padding-right: 15px;
      margin-right: 12px;
      border-right: 1px solid #e9e9e9;
      .enroll {
        font-size: 16px;
        font-weight: 700;
        color: #ff8838;
        span {
          padding-left: 24px;
          background: url(../images/tel.png) no-repeat;
        }
      }
      .hotline {
        color: #999;
      }
    }
    .tel-num {
      font-size: 26px;
      color: #ff8838;
    }
  }
}

.banner {
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.nav {
  border-top: 1px solid #eee;
  ul {
    @extend %clearfix;
    li {
      float: left;
      padding: 16px 0px;
      a {
        display: block;
        padding: 0 34px;
        border-right: 1px solid #dadada;
        font-size: 16px;
      }
      &:hover,
      &.active {
        background-color: #543b89;
        a {
          color: #fff;
          border-color: #543b89;
        }
      }
      &:last-child {
        a {
          border-right: none;
        }
      }
    }
  }
}

/*页面主体*/
.page-body {
  .school-index-intro {
    padding: 50px 0;
    background-color: #f1f1f1;
    .bd {
      line-height: 36px;
      color: #666;
      em,
      a {
        color: #ff7f29;
      }
      .txt {
        text-indent: 30px;
        text-align: justify;
      }
    }
    .wrap {
      @extend %clearfix;
      & > .lf {
        width: 600px;
        margin-right: 50px;
      }
      & > .rt {
        width: 550px;
      }
    }
    .sign-in {
      padding-top: 20px;
    }
    .img-container {
      margin-right: -30px;
      margin-bottom: 60px;
      li {
        margin-right: 30px;
        width: 380px;
        padding: 8px 8px 0 8px;
        background-color: #fff;
        .li-title {
          font-size: 20px;
          margin-top: 20px;
          text-align: center;
        }
        .txt {
          padding: 0 20px;
          margin-bottom: 20px;
          font-size: 16px;
          text-align: justify;
          color: #999;
          height: 84px;
          line-height: 30px;
          overflow: hidden;
        }
      }
    }
    .teacheraInfo {
      padding: 36px 50px 18px 40px;
      background-color: #fff;
      .author-item {
        display: none;
        .item-title {
          font-size: 22px;
          color: #ff8838;
        }
      }
      .content {
        line-height: 32px;
        height: 68px;
        width: 1100px;
        overflow: auto;
        color: #666;
        margin: 20px 0;
      }
      .show {
        display: block;
      }
      .author {
        position: relative;
        ul {
          margin-right: -42px;
          li {
            position: relative;
            width: 100px;
            height: 100px;
            margin-right: 42px;
            margin-top: 20px;
            border-radius: 50%;
            border: 2px solid #fff;
            cursor: pointer;
            &.active {
              border: 2px solid #ffa200;
            }
            img {
              width: 100%;
              border-radius: 50%;
              box-sizing: border-box;
            }
            i {
              position: absolute;
              top: -14px;
              display: block;
              width: 100%;
              height: 14px;
              &.active {
                background: url("../images/iconfont-jt.png") no-repeat 50% 0;
              }
            }
          }
        }
        .more {
          position: absolute;
          top: 50%;
          margin-top: -8px;
          left: 574px;
        }
      }
    }
  }
  .hasline {
    border-bottom: 1px solid #f0efef;
  }
  .school-index-content {
    padding: 60px 0;
    .lf {
      width: 400px;
      img {
        width: 400px !important;
        height: auto !important;
      }
    }
    .rt {
      margin-left: 40px;
      width: 750px;
      .title {
        font-size: 22px;
        color: #666;
        padding-bottom: 24px;
        .a-default {
          margin-left: 30px;
          padding-left: 18px;
          font-size: 14px;
          color: #999;
          background: url(../images/write.png) no-repeat 0% 40%;
        }
      }
      .cousre-setting {
        padding-bottom: 18px;
        text-indent: -12px;
      }
      .bd {
        .txt {
          line-height: 32px;
          text-indent: 30px;
          text-align: justify;
          color: #666;
          margin-bottom: 14px;
        }
      }
      .consult {
        width: 100%;
        line-height: 34px;
        background-color: #f6f6f6;
        .a-default {
          margin-left: 18px;
          padding-left: 18px;
          padding-right: 15px;
          font-size: 14px;
          color: #999;
        }
        .test {
          background: url(../images/write.png) no-repeat 0% 40%;
        }
        .zx {
          background: url(../images/message.png) no-repeat 0% 40%;
        }
      }
    }
  }
  .index-stutdent-info {
    padding: 16px 0 16px 0;
    line-height: 36px;
    .lf {
      margin-right: 26px;
      p {
        width: 420px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666;
        .direction {
          display: inline-block;
          width: 70px;
          padding-left: 4px;
          height: 20px;
          line-height: 20px;
          margin-right: 10px;
          background: url(../images/bg-direction.png) no-repeat;
          color: #ff8838;
        }
      }
      span {
        color: #999;
      }
    }
    .rt {
      margin-left: 0;
      width: 300px;
      p {
        color: #666;
      }
      span {
        color: #999;
      }
    }
  }
  .tel-div {
    line-height: 40px;
    .commonBtn {
      margin-right: 18px;
      margin-top: 0px;
    }
    .tel {
      display: inline-block;
      margin-left: 10px;
      padding-left: 24px;
      background: url(../images/tel.png) no-repeat 0% 50%;
      font-size: 16px;
      color: #666;
      .tel-num {
        font-size: 20px;
        color: #ff8838;
        vertical-align: bottom;
      }
    }
  }
  .trends-news {
    margin: 60px 0 0;
    .hd {
      padding-bottom: 12px;
      border-bottom: dotted 1px #d2d2d2;
    }
    .news {
      width: 700px;
    }
    .more {
      float: right;
      padding-top: 16px;
    }
    .rt {
      width: 450px;
    }
    .news-container {
      padding: 10px 0px 0px 10px;
      border-bottom: 1px dotted #d2d2d2;
      li {
        margin-bottom: 12px;
      }
      .news-date {
        padding: 12px 8px;
        *padding: 2px 2px;
        width: 72px;
        height: 70px;
        text-align: center;
        background-color: #533797;
        .time {
          display: block;
          font-size: 20px;
          color: #fff;
          padding-bottom: 2px;
          border-bottom: 1px solid #6b53a6;
        }
        .date {
          display: block;
          color: #cab6fd;
          margin-top: 4px;
        }
      }
      .news-content {
        padding: 0px 30px 0px 20px;
        margin: 12px 0;
        border-right: 1px solid #d7d7d7;
        p {
          font-size: 16px;
          margin-bottom: 5px;
          @extend %one;
        }
        span {
          display: inline-block;
          font-size: 12px;
          color: #999;
          width: 510px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .news-details {
        width: 56px;
        *width: 28px;
        *padding-left: 10px;
        text-align: center;
        line-height: 72px;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .que-container {
      font-size: 14px;
      li {
        width: 100%;
        padding-left: 34px;
        height: 44px;
        line-height: 44px;
        border-bottom: dotted 1px #d2d2d2;
        background: url(../images/inquiry.png) no-repeat 0% 50%;
        a {
          display: inline-block;
          @extend %one;
        }
      }
    }
  }
}

.intro-title {
  font-size: 26px;
  color: #444;
  padding-bottom: 30px;
  em {
    color: #6745a6;
  }
  small {
    padding-left: 10px;
    font-size: 24px;
    color: #d1d1d1;
  }
}

// 快速报名 标题下划线
.blue-bar-x {
  display: block;
  width: 50px;
  height: 2px;
  background-color: #ff8838;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

// 留单
.collect {
  ul {
    margin-right: -20px;
    input {
      margin: 0 20px 20px 0;
    }
  }
  input {
    width: 264px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    border: none;
  }
  input[type="submit"] {
    width: 100%;
    line-height: 40px;
    background-color: #ff8838;
    color: #fff;
  }
  select {
    background: transparent;
    border: solid 1px #e5e5e5;
    padding: 0 1em;
    height: 44px;
  }
  .sel-grade {
    width: 264px;
    margin-right: 20px;
    margin-bottom: 16px;
    border: none;
    background: url(https://img.thea.cn/public/platform/thea/201912/hbj/builder/images/icon_1.png) no-repeat 95% #fff;
  }
}

.commonBtn {
  display: inline-block;
  text-align: center;
  width: 140px;
  line-height: 40px;
}

.btn-active {
  background-color: #ff8838;
  border: 1px solid #ff8838;
  color: #fff;
}

// 快速报名
.fast-sign {
  padding-top: 35px;
  .collect {
    margin-left: 8px;
    width: 300px;
    padding: 20px;
    background-color: #533797;
    .fast-title {
      font-size: 24px;
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
    }
    input {
      margin: 0 auto;
      width: 100%;
      line-height: 40px;
      margin-bottom: 20px;
    }
    input[type="submit"] {
      text-indent: 0;
    }
  }
}

// 统计图
.chart {
  position: relative;
  margin-left: 160px;
  .chart-cont {
    width: 180px;
    height: 145px;
    background: url(../images/chart.jpg) no-repeat 50% 0%;
  }
}
.chart-txt {
  position: absolute;
  bottom: 2px;
  width: 180px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.percent {
  position: relative;
  width: 180px;
  line-height: 145px;
  text-align: center;
  margin-left: 30px;
  .percent-lf {
    position: absolute;
    top: 30%;
    background-color: #55a1ff;
    margin-right: 10px;
  }
  .percent-rt {
    position: absolute;
    top: 30%;
    right: 0;
    background-color: #4ed694;
    margin-left: 10px;
  }
  div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 18px;
    color: #fff;
  }
  .dotted {
    font-size: 24px;
  }
}

/*面包屑*/
.page-path {
  font-size: 14px;
  line-height: 42px;
  color: #888;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  p {
    padding-left: 28px;
    background: url(../images/index.jpg) no-repeat 0% 40%;
  }
  a {
    &:hover {
      color: #f05630;
    }
  }
  .cur {
    color: #f05630;
  }
}

// 入学考试难度
.degree {
  width: 65px;
  display: inline-block;
  background: url(../images/degree.png) no-repeat 0px 0px;
  i.degree,
  i.star {
    height: 12px;
  }
  .star {
    width: 70%;
    display: block;
    overflow: hidden;
    background: url(../images/degree.png) no-repeat 0px -15px;
  }
}

// 详情页部分
.main {
  padding: 20px 0;
  background-color: #f1f1f1;
  .wrap {
    @extend %clearfix;
  }

  .team-introduce {
    min-height: 1454px;
    padding-bottom: 30px;
    background-color: #fff;
    .show {
      display: none;
    }
  }
}

// main 左侧
.aside {
  width: 300px;
  margin-right: 20px;
  & > div {
    padding: 20px 16px;
  }
  .process {
    background-color: #fff;
    margin-bottom: 20px;
    .title {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 14px;
      border-bottom: 1px solid #e2e2e2;
    }
    ul {
      &.sign {
        margin: 20px 0 -28px 14px;
        background: url(../images/dotted.png) no-repeat 21px 24px;
        li {
          position: relative;
          margin-bottom: 28px;
          & > span {
            display: inline-block;
          }
          .step {
            width: 42px;
            height: 42px;
            line-height: 42px;
            margin-right: 20px;
            text-align: center;
            border-radius: 50%;
            background-color: #eee;
            color: #666;
          }
          .content {
            margin-right: 18px;
            font-size: 16px;
          }
          .tel {
            position: absolute;
            left: 66px;
            top: 30px;
            font-size: 16px;
            font-weight: 700;
            color: #ff8838;
          }
          .enroll {
            width: 76px;
            line-height: 22px;
            text-align: center;
            background-color: #ff8838;
            a {
              width: 100%;
              height: 100%;
              color: #fff;
            }
          }
        }
      }
      &.dynamic {
        color: #ff8838;
        padding: 20px 0 0;
        li {
          @extend %point-a;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            display: inline-block;
            width: 246px;
            @extend %one;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .fast-sign {
    padding: 0;
    .collect {
      background: url(../images/signUp.png) no-repeat 0% 0%;
      margin-left: 0;
      h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }
}

// main 右侧
.article {
  width: 880px;
  .title {
    border-bottom: 1px solid #e2e2e2;
    .txt {
      display: block;
      font-size: 18px;
      padding-left: 14px;
      margin-bottom: 14px;
      border-left: 2px solid #ff8838;
      em {
        color: #ff8838;
      }
    }
  }
  .top {
    margin-bottom: 20px;
  }
  .caption {
    padding: 20px 16px 0px 14px;
    background-color: #fff;
  }
  .basic-info {
    padding: 34px 16px 16px 32px;
    background-color: #fff;
    ul {
      max-width: 700px;
      li {
        min-width: 250px;
        margin-right: 20px;
        margin-bottom: 20px;
        color: #999;
      }
    }
  }
  .introduce {
    background-color: #fff;
    .setting-nav {
      background-color: #e5e5e5;
      li {
        padding: 12px 20px;
        border-right: 1px solid #fff;
        cursor: pointer;
        a {
          color: #666;
        }
        &.active {
          background-color: #543b89;
          color: #fff;
          a {
            color: #fff;
          }
        }
        &:hover {
          background-color: #543b89;
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
    .data-img {
      padding: 40px 0 60px 0;
      .chart {
        margin: 0 80px 0 100px;
        .chart-bg {
          width: 200px;
          height: 200px;
          background: url(../images/chart.jpg) no-repeat 50% 50%;
        }
      }
      .percent {
        min-width: 300px;
        height: 200px;
        line-height: 200px;
        margin-left: 0;
        padding-left: 80px;
        border-left: 1px dotted #dcdcdc;
      }
      .chart-txt {
        width: 200px;
      }
    }
    .team-detail {
      padding: 0 15px;
      background-color: #fff;
      .title {
        width: 100%;
        line-height: 38px;
        background-color: #e5e5e5;
        p {
          width: 100px;
          text-align: center;
          background-color: #543b89;
          color: #fff;
        }
      }
      .team-content {
        padding: 30px 0;
        margin: 0 15px;
        border-bottom: 1px solid #eaeaea;
        .lf {
          margin-right: 40px;
        }
        .rt {
          width: 616px;
          .li-title {
            font-size: 18px;
            padding-bottom: 20px;
            span {
              padding-right: 22px;
            }
            small {
              display: inline-block;
              font-size: 14px;
              height: 24px;
              vertical-align: middle;
              color: #ff8838;
            }
          }
          p {
            line-height: 26px;
            text-align: justify;
            color: #777;
          }
        }
      }
      .open-more {
        text-align: center;
        height: 40px;
        line-height: 40px;
        margin: 0 15px;
        .open-more-btn {
          width: 100%;
          height: 100%;
          background-color: #e6e5e5;
          cursor: pointer;
          span {
            padding-right: 12px;
            font-weight: 700;
            color: #999;
            background: url(../images/jiantou.jpg) no-repeat 100% 3px;
            &.hidden {
              background: url(../images/up.jpg) no-repeat 100% 3px;
            }
          }
        }
      }
    }
    .scene-img {
      padding: 28px 30px 0 20px;
      ul {
        margin-right: -22px;
        li {
          margin: 0 22px 38px 0;
          .txt {
            padding-top: 12px;
            text-align: center;
            color: #666;
          }
        }
      }
    }
    .news-page {
      padding: 0 14px;
      .news-item {
        li {
          cursor: pointer;
          padding: 30px 24px 32px 15px;
          border-bottom: 1px dotted #dcdcdc;
          &:hover {
            background-color: #eee;
            .time {
              color: #ff8838;
            }
            .news-content {
              h3 {
                color: #ff8838;
              }
            }
          }
          .news-date {
            margin-right: 30px;
            text-align: center;
            .time {
              font-size: 34px;
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid #d7d7d7;
            }
            .date {
              color: #a6a6a6;
            }
          }
          .news-content {
            width: 720px;
            .cont-title {
              font-size: 16px;
              line-height: 31px;
              padding-bottom: 18px;
            }
            p {
              line-height: 27px;
              color: #989898;
            }
          }
        }
      }
    }

    .question-page {
      padding: 0 27px;
      .question-item {
        background: url(../images/problem.png) no-repeat;
        .list {
          padding: 22px 18px 26px 36px;
          margin-top: 20px;
          cursor: pointer;
          .list-title {
            font-weight: 700;
            padding-left: 26px;
            margin-bottom: 20px;
            background: url(../images/doubt.jpg) no-repeat left center;
            font-size: 16px;
          }
          .txt {
            line-height: 24px;
            height: 48px;
            overflow: hidden;
            color: #777;
          }
        }
        .spread {
          text-align: right;
          i {
            display: block;
            width: 100%;
            height: 20px;
            cursor: pointer;
            background: url(../images/open.jpg) no-repeat 100% 100%;
            &.closeUp {
              background: url(../images/close.jpg) no-repeat 100% 100%;
            }
          }
        }
      }
    }
  }
  .detail {
    padding: 20px 28px 28px 32px;
    background-color: #fff;
    .no-indent {
      text-indent: 0;
    }
    .no-margin {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 10px;
      text-indent: 2em;
      line-height: 31px;
      text-align: justify;
      color: #666;
    }
    span {
      line-height: 31px;
      text-align: justify;
      color: #666;
    }
    li {
      line-height: 31px;
      text-align: justify;
      color: #666;
    }
    .img {
      text-align: center;
    }
    em {
      font-weight: 700;
      color: #333;
    }
    .summary {
      display: block;
      line-height: 30px;
      margin-top: 20px;
      font-weight: 700;
      text-indent: 0;
      color: #533797;
      font-size: 16px;
    }
    .summary-no-margin {
      display: block;
      line-height: 30px;
      font-weight: 700;
      text-indent: 0;
      color: #533797;
    }
    .indent {
      display: block;
      text-indent: 28px;
    }
    .marginTop {
      margin-top: 20px;
      span {
        display: block;
      }
    }
    .bright-point {
      margin-bottom: 16px;
    }
  }
  .order-page {
    padding: 25px 30px 10px;
    background: #fff;
    .hint {
      height: 74px;
      line-height: 26px;
      padding: 14px 90px 0 16px;
      margin-bottom: 30px;
      background-color: #f1f1f1;
      color: #999;
    }
    .collect {
      li {
        margin-bottom: 26px;
      }
      input {
        margin: 0;
        height: 44px;
        width: 332px;
        border: solid 1px #e5e5e5;
        &.order-submit {
          margin-left: 126px;
          border: none;
        }
      }
      select {
        width: 332px;
        border: solid 1px #e5e5e5;
        background: url(https://img.thea.cn/public/platform/thea/201912/hbj/builder/images/icon_1.png) no-repeat 95%
          #fff;
      }
      .name {
        display: inline-block;
        height: 44px;
        line-height: 44px;
        margin-right: 16px;
        width: 106px;
        text-align: right;
      }
    }
  }
  .hi-school-outline {
    padding: 26px 30px 50px 26px;
    background-color: #fff;
    .image-container {
      width: 320px;
      margin-right: 24px;
      img {
        width: 100%;
      }
    }
    .right-section {
      width: 480px;
      .cousre-setting {
        font-size: 22px;
        color: #666;
        text-indent: -12px;
      }
      .consult {
        margin: 22px 0 28px 0;
        a {
          display: inline-block;
          position: relative;
          border-radius: 3px;
          padding: 2px 9px 2px 26px;
          margin-right: 18px;
          &.test {
            border: 1px solid #ff8838;
            color: #ff8838;
            i {
              background: url(../images/write.png) no-repeat 50% 50%;
            }
          }
          &.zx {
            background-color: #ff8838;
            color: #fff;
            i {
              background: url(../images/msg.png) no-repeat 50% 50%;
            }
          }
          i {
            position: absolute;
            z-index: 10;
            height: 23px;
            width: 15px;
            left: 7px;
            top: 0px;
          }
        }
      }
      ul {
        width: 470px;
        margin-bottom: 13px;
        li {
          width: 230px;
          line-height: 32px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .tel {
        display: inline-block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding-left: 34px;
        background: url(../images/tel.png) no-repeat 10px 50% #f4f4f4;
        font-size: 16px;
        color: #666;
        .tel-num {
          font-size: 20px;
          color: #ff8838;
          vertical-align: bottom;
        }
      }
    }
  }
}

// 友情链接
.friend {
  padding-top: 30px;
  .link-title {
    font-size: 26px;
    color: #444;
    padding-bottom: 30px;
    em {
      color: #6745a6;
    }
    small {
      padding-left: 10px;
      font-size: 24px;
      color: #d1d1d1;
    }
  }
  .lian {
    margin-right: -20px;
    @extend %clearfix;
    li {
      float: left;
    }
  }
  li {
    padding: 8px 12px;
    margin-right: 20px;
    margin-bottom: 18px;
    background-color: #f0f0f0;
    color: #666;
  }
}

// 底部悬浮
.footsusp {
  position: fixed;
  z-index: 62;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 126px;
  background: url(../images/footerbg.jpg) no-repeat center;
  background-size: auto 100%;
  .footsusp-icon1,
  .footsusp-icon2,
  .footsusp-close {
    position: absolute;
  }
  .footsusp-icon1 {
    top: -60px;
    left: 0;
    width: 118px;
    height: 150px;
    background: url(../images/footericon1.png);
  }
  .footsusp-icon2 {
    top: -60px;
    right: 0;
    width: 220px;
    height: 138px;
    background: url(../images/footericon2.png);
  }
  .footsusp-close {
    top: 0;
    right: 18%;
    width: 35px;
    height: 35px;
    background: url(../images/footerclose.png);
    cursor: pointer;
  }
  .footsusp-fl {
    float: left;
    width: 760px;
    input {
      margin-right: 12px;
      width: 170px;
      height: 34px;
      border: 0;
      border-radius: 3px;
      line-height: 34px;
      text-indent: 1em;
      background: #fff;
    }
    input[type="submit"] {
      width: 114px;
      height: 34px;
      border: 0;
      border-radius: 3px;
      color: #fff;
      background: #ff724f;
    }
  }
  .susp-title {
    font-size: 24px;
    font-weight: bold;
    color: #fffc00;
    line-height: 65px;
  }
  .footsusp-fr {
    float: right;
    margin-top: 56px;
    padding-left: 60px;
    width: 310px;
    *width: 250px;
    color: #fff;
    background: url(../images/footertel.png) no-repeat left center;
    span {
      font-size: 12px;
    }
    p {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

/*thea左侧自定义漂浮*/
#msRfloat {
  width: 121px;
  height: 306px;
  background: url(../images/gjfloat_r.png) no-repeat;
  position: fixed;
  top: 20%;
  right: 1%;
  z-index: 100;
  a {
    display: block;
    width: 100%;
    height: 91%;
  }
  #toTop {
    display: block;
    width: 100%;
    height: 9%;
    cursor: pointer;
  }
}

/*分页*/
.page-wrap {
  width: 100%;
  display: -webkit-box;
  display: box;
  box-orient: horizontal;
  display: flex;
  flex-direction: row;
  .page {
    margin: 30px auto;
    line-height: 34px;
    box-pack: center;
    justify-content: center;
    a {
      color: #666;
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      background: #fff;
      font-size: 14px;
      margin-right: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      &.first,
      &.end {
        width: 62px;
        background: #eee;
      }
      &.next,
      &.prev {
        width: 90px;
        background: #eee;
      }
      &.cur,
      &:hover {
        background: #f05630;
        color: #fff;
        border-color: #f05630;
      }
    }
    span {
      display: block;
      float: left;
      width: 32px;
      height: 32px;
      line-height: 25px;
      font-size: 14px;
      color: #212b4c;
      margin-left: -10px;
      &.total {
        width: auto;
        line-height: 34px;
        margin-right: 10px;
        color: #666;
      }
    }
  }
}

// 移动端显示
.wap-show {
  display: none;
}

@media screen and (max-width: 750px) {
  $browser-default-font-size: 75px !default;
  @function pr($px) {
    @return $px / $browser-default-font-size * 1rem;
  }

  html,
  body {
    overflow-x: hidden;
  }
  body {
    font-size: pr(26px);
    color: #333333;
    padding-bottom: pr(106px);
  }

  // 去除前后伪类
  %clearclass {
    &:before,
    &:after {
      display: none;
    }
  }

  %wap-one {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  %wap-point {
    &::before {
      content: "";
      display: inline-block;
      width: pr(4px);
      height: pr(4px);
      background-color: #7356ac;
      vertical-align: middle;
      margin-right: pr(12px);
      border-radius: 50%;
    }
  }

  // 文本显示多少行就省略
  @mixin ells($row) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
  }

  .wrap {
    width: pr(750px);
  }

  // 垂直居中，两端对齐
  .space-between {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  // 垂直居中，水平居中
  .space-around {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // 清除左，右浮动
  .lf,
  .rt {
    float: none;
  }

  .wap-show {
    display: block;
  }

  /*页面头部*/
  .header {
    height: pr(100px);
    padding: 0 pr(24px);
    @extend .space-between;
    .lf {
      img {
        max-height: pr(54px);
      }
    }
    .subtitle {
      display: inline-block;
      vertical-align: middle;
      font-size: pr(24px);
    }
    .rt {
      display: none;
    }
  }

  .school-title {
    display: block;
    height: pr(78px);
    line-height: pr(78px);
    background-color: #543b89;
    font-size: pr(30px);
    color: #ffffff;
    text-align: center;
  }

  .nav {
    border-top: 1px solid #eee;
    padding: 0 pr(24px);
    // background: url(../images/icon_1.png) no-repeat 90% center;
    // background-size: auto pr(20px);
    ul {
      width: 90%;
      @extend %clearclass;
      overflow-x: scroll;
      white-space: nowrap;
      li {
        display: inline-block;
        float: none;
        padding: pr(16px) 0px;
        a {
          padding: 0 pr(10px) pr(16px);
          border-right: none;
          font-size: pr(28px);
        }
        &.active {
          background-color: #fff;
          a {
            color: #543b89;
          }
          &::after {
            display: block;
            content: "";
            width: pr(45px);
            height: pr(5px);
            background-color: #543b89;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .banner {
    display: none;
  }

  .wap-banner {
    // display: none;
    background-color: #f5f6f8;
    padding: pr(24px);
    text-align: center;
    a {
      display: block;
      width: 100%;
    }
    img {
      border-radius: pr(8px);
    }
  }

  .school {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    .sc-head {
      font-size: pr(28px);
      line-height: pr(32px);
      color: #444444;
      padding-bottom: pr(20px);
      ul {
        display: flex;
      }
      li {
        border-right: dashed 1px #4b4b4b;
        padding: 0 pr(25px);
        &.cur {
          font-weight: bold;
          font-size: pr(32px);
        }
        &:last-child {
          border-right: none;
        }
      }
    }
    .sc-cont {
      width: 100%;
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(20px) pr(40px);
      .cont-item {
        display: none;
        &.cur {
          display: block;
        }
      }
      ul {
        padding-bottom: pr(20px);
        margin-bottom: pr(20px);
        border-bottom: 1px dotted #c1c1c1;
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }
      }
      .ul-title {
        font-size: pr(30px);
        height: pr(30px);
        line-height: pr(30px);
        color: #543b89;
        margin-bottom: pr(10px);
        img {
          height: 100%;
          margin-right: pr(8px);
        }
      }
      li {
        line-height: pr(42px);
        color: #444444;
        @extend %wap-point;
        .key {
          color: #999999;
        }
      }
      p {
        font-size: pr(26px);
        text-align: justify;
        margin-bottom: pr(10px);
      }
    }
  }

  // 入学流程
  .enrol {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(20px);
    .enrol-title {
      font-size: pr(32px);
      line-height: pr(34px);
      padding: 0 pr(24px) pr(20px);
    }
    .enrol-cont {
      padding: pr(162px) 0 pr(42px);
      border-radius: pr(8px);
      background: url(../images/bg_2.png) no-repeat center 30% #fff;
      background-size: 90% auto;
      ul {
        @extend .space-around;
      }
    }
  }

  // 预约报名
  .apply {
    // display: none;
    padding: 0 pr(24px) pr(30px);
    background-color: #f5f6f8;
    .apply-cont {
      padding: pr(30px) 0;
      background: url(../images/bg_3.png) no-repeat;
      background-size: 100% 100%;
      border-radius: pr(8px);
      .cont-title {
        font-size: pr(32px);
        line-height: pr(34px);
        color: #ff6600;
        text-align: center;
        margin-bottom: pr(20px);
      }
      // 纯颜色的背景
      &.pure {
        background: #543b89;
        .cont-title {
          color: #ffffff;
          span {
            color: #ff724f;
          }
        }
      }
    }
    .sign-in {
      padding: 0 pr(28px);
      display: flex;
      flex-wrap: wrap;
    }
    input,
    select {
      width: 48%;
      height: pr(80px);
      line-height: pr(80px);
      font-size: pr(28px);
      border-radius: pr(10px);
      border: none;
      margin-bottom: pr(16px);
    }
    select {
      padding: 0 1em;
      background: url(../images/sel.png) no-repeat #fff 90% center;
      background-size: pr(17px) pr(11px);
    }
    input {
      margin-right: 4%;
      text-indent: 1em;
    }
    .full-line {
      width: 100%;
      margin-right: 0;
    }
    input[type="submit"] {
      text-indent: 0;
      background-color: #ff8838;
      color: #fff;
    }
  }

  // 底部悬浮
  .wap-susp {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px pr(-9px) pr(20px) 0px rgba(145, 145, 145, 0.15);
    border-radius: pr(30px) pr(30px) 0px 0px;
    z-index: 200;
    .susp-cont {
      height: pr(106px);
      padding: pr(26px) 0;
      ul {
        height: 100%;
        @extend .space-between;
      }
      li {
        width: 25%;
        height: pr(54px);
        border-right: 1px dotted #808080;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: pr(-12px);
        }
        .icon {
          display: block;
          width: pr(35px);
          height: pr(36px);
          margin-bottom: pr(10px);
        }
        &:first-child {
          .icon {
            background: url(../images/home_nor.png) no-repeat;
            background-size: 100% auto;
          }
          &.cur {
            .icon {
              background: url(../images/home_sel.png) no-repeat;
              background-size: 100% auto;
            }
          }
        }
        &:nth-of-type(2) {
          .icon {
            background: url(../images/open_nor.png) no-repeat;
            background-size: 100% auto;
          }
          &.cur {
            .icon {
              background: url(../images/open_sel.png) no-repeat;
              background-size: 100% auto;
            }
          }
        }
        &:nth-of-type(3) {
          .icon {
            width: pr(39px);
            height: pr(39px);
            background: url(../images/visit_nor.png) no-repeat;
            background-size: 100% 100%;
          }
          &.cur {
            .icon {
              background: url(../images/visit_sel.png) no-repeat;
              background-size: 100% auto;
            }
          }
        }
        &:nth-of-type(4) {
          .icon {
            width: pr(39px);
            height: pr(40px);
            background: url(../images/tel_nor.png) no-repeat;
            background-size: 100% 100%;
          }
          &.cur {
            .icon {
              background: url(../images/tel_sel.png) no-repeat;
              background-size: 100% auto;
            }
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  // 加载更多
  .load-more {
    height: pr(80px);
    line-height: pr(80px);
    background-color: #e5e5e5;
    border-radius: pr(8px);
    font-size: pr(28px);
    color: #444444;
    text-align: center;
  }

  // 常见问题 列表
  .issue-list {
    background-color: #f5f6f8;
    padding: pr(24px) pr(24px);
    li {
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: 0 pr(22px) pr(20px);
      line-height: 1.5;
      margin-bottom: pr(24px);
      .item-w {
        font-size: pr(30px);
        border-bottom: 1px dotted #cdcdcd;
        padding: pr(20px) 0 pr(20px) pr(52px);
        background: url(../images/icon_2.png) no-repeat left pr(30px);
        background-size: pr(26px) auto;
      }
      .item-d {
        color: #666666;
        padding: pr(20px) 0 0 pr(52px);
        margin-bottom: pr(20px);
        @include ells(3);
        &.show {
          display: block;
        }
      }
      .fold {
        font-size: pr(22px);
        line-height: pr(40px);
        color: #444444;
        text-align: center;
        cursor: pointer;
        span {
          vertical-align: middle;
        }
        .icon {
          display: inline-block;
          width: pr(18px);
          height: pr(12px);
          background: url(../images/down.png) no-repeat;
          background-size: 100% 100%;
          margin-left: pr(6px);
          vertical-align: middle;
        }
      }
      .down {
        color: #4b4b4b;
        .icon {
          background: url(../images/up.png) no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

  .lcm-title {
    font-size: pr(32px);
    line-height: pr(34px);
    margin-bottom: pr(20px);
    span {
      color: #543b89;
    }
  }
  // 首页模块
  .home-lcm {
    // display: none;
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    .lcm-cont {
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(30px);
      ul {
        border-bottom: 1px dotted #c1c1c1;
        padding-bottom: pr(20px);
      }
      li {
        line-height: pr(42px);
        color: #444444;
        @extend %wap-point;
        .key {
          color: #999999;
          .empty {
            display: inline-block;
            width: 2em;
            height: 100%;
          }
        }
      }
      .cont-text {
        line-height: pr(42px);
        letter-spacing: 0px;
        color: #444444;
        padding: pr(20px) pr(16px) 0;
        text-align: justify;
        p {
          @include ells(3);
          &.show {
            display: block;
          }
        }
        .detail {
          color: #ff724f;
        }
      }
    }
    .cont-btn {
      padding-top: pr(20px);
      @extend .space-between;
      a {
        width: 48%;
        font-size: pr(28px);
        height: pr(80px);
        line-height: pr(80px);
        box-shadow: pr(-3px) pr(2px) pr(13px) 0px rgba(255, 114, 79, 0.44);
        border-radius: pr(6px);
        border: solid 1px #ff7653;
        text-align: center;
        color: #ff724f;
        &.active {
          background-image: linear-gradient(-30deg, #ff724f 0%, #fe8d72 100%);
          color: #fff;
        }
      }
    }
    .cont-course {
      @extend .space-between;
      border-bottom: 1px dotted #c1c1c1;
      padding-bottom: pr(20px);
      .course-l {
        width: 46%;
      }
      .course-r {
        width: 48%;
        ul {
          border-bottom: none;
          li {
            .star {
              height: pr(21px);
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  // 学校优势
  .good {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    .good-cont {
      ul {
        white-space: nowrap;
        overflow-x: scroll;
        li {
          display: inline-block;
          width: pr(381px);
          background-color: #ffffff;
          border-radius: pr(8px);
          margin-right: pr(20px);
          p {
            white-space: initial;
          }
          &.active {
            background-color: #ff8838;
            box-shadow: pr(-1px) pr(8px) pr(7px) 0px rgba(255, 136, 56, 0.3);
            color: #fff;
            .item-title {
              &::after {
                background-color: #fff;
              }
            }
          }
        }
        .cont-item {
          padding: pr(30px) pr(20px);
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: pr(60px);
            height: pr(51px);
            margin-bottom: pr(15px);
          }
          .item-title {
            font-size: pr(30px);
            padding-bottom: pr(16px);
            margin-bottom: pr(20px);
            position: relative;
            &::after {
              display: inline-block;
              content: "";
              width: pr(50px);
              height: 1px;
              background-color: #ff8838;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
      }
    }
  }

  .teacher-lcm {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    .tea-cont {
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(24px) pr(20px);
    }
    .item-l {
      width: 40%;
    }
    .item-r {
      width: 56%;
      .r-title {
        font-size: pr(30px);
        margin-bottom: pr(10px);
      }
      p {
        font-size: pr(24px);
        color: #666666;
        @include ells(4);
      }
    }
    .tab-detail {
      margin-bottom: pr(20px);
      li {
        @extend .space-between;
      }
    }
    .tab-head {
      ul {
        @extend .space-between;
      }
      li {
        width: 18.6%;
        &.cur {
          border: solid 1px #ff8838;
        }
      }
      .more {
        width: 18.6%;
        background-color: #ededed;
      }
    }
  }

  // 学校环境
  .scene {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    position: relative;
    .scene-cont {
      padding: pr(26px);
      background-color: #ffffff;
      border-radius: pr(8px);
    }
    .swiper1 {
      padding-bottom: pr(38px);
      .swiper-pagination-bullets {
        bottom: 0;
      }
      .swiper-pagination-bullet-active {
        width: pr(24px);
        border-radius: pr(12px);
        background-color: #543b89;
      }
    }
    .swiper1-arrows {
      width: pr(41px);
      height: pr(66px);
      line-height: pr(66px);
      border-radius: pr(3px);
      opacity: 0.83;
      color: #fff;
      text-align: center;
      background-color: #ff8838;
      font-size: pr(36px);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .swiper-button-disabled {
      background-color: #363636;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
  }

  // 最新资讯
  .infos {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    .infos-cont {
      height: pr(359px);
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(14px) pr(20px);
      li {
        line-height: pr(62px);
        border-bottom: 1px dotted #cdcdcd;
        @extend %wap-point;
        .txt,
        .time {
          display: inline-block;
          vertical-align: middle;
        }
        .txt {
          width: 82%;
          @extend %wap-one;
        }
        .time {
          width: 12%;
          color: #777777;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  // 常见疑答
  .query {
    background-color: #f5f6f8;
    padding: 0 pr(24px) pr(30px);
    .query-cont {
      height: pr(359px);
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(14px) pr(20px);
      li {
        line-height: pr(62px);
        border-bottom: 1px dotted #cdcdcd;
        padding-left: pr(52px);
        background: url(../images/icon_2.png) no-repeat left;
        background-size: pr(26px) pr(28px);
        .txt,
        .time {
          display: inline-block;
          vertical-align: middle;
        }
        .txt {
          width: 82%;
          @extend %wap-one;
        }
        .time {
          width: 12%;
          color: #777777;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  // 新闻资讯
  .news-list {
    background-color: #f5f6f8;
    padding: pr(24px);
    li {
      .item {
        padding: pr(36px) pr(30px);
        background-color: #ffffff;
        border-radius: pr(8px);
        margin-bottom: pr(24px);
        @extend .space-between;
      }
      .item-l {
        padding: pr(10px);
        border: solid pr(2px) #9a9a9a;
        display: flex;
        flex-direction: column;
        align-items: center;
        .l-day {
          width: 100%;
          border-bottom: 1px solid #d7d7d7;
          font-size: pr(36px);
          text-align: center;
        }
        .l-date {
          font-size: pr(22px);
          color: #444444;
        }
      }
      .item-r {
        width: 78%;
        .r-title {
          @extend %wap-one;
          font-size: pr(28px);
          margin-bottom: pr(10px);
        }
        p {
          @include ells(2);
          font-size: pr(24px);
          color: #666666;
        }
      }
      &:hover {
        .item {
          background-color: #543b89;
          color: #fff;
          .item-l {
            border: solid pr(2px) #fff;
            .l-date {
              color: #fff;
            }
          }
          .item-r {
            p {
              color: #fff;
            }
          }
        }
      }
    }
  }

  // 预约报名
  .appoint-form {
    // display: none;
    padding: 0 pr(24px) pr(30px);
    background-color: #f5f6f8;
    .form-cont {
      padding: pr(30px) 0;
      background: #fff;
      border-radius: pr(8px);
      position: relative;
      top: pr(-80px);
    }
    .sign-in {
      padding: 0 pr(28px);
      display: flex;
      flex-wrap: wrap;
    }
    input,
    select {
      height: pr(80px);
      line-height: pr(80px);
      font-size: pr(28px);
      border-radius: pr(10px);
      border: none;
      margin-bottom: pr(16px);
      background-color: #f5f6f8;
    }
    select {
      padding: 0 1em;
      background: url(../images/sel.png) no-repeat #f5f6f8 94% center;
      background-size: pr(17px) pr(11px);
    }
    input {
      width: 60%;
      margin-right: 4%;
      text-indent: 1em;
    }
    .full-line {
      width: 100%;
      margin-right: 0;
    }
    input[type="submit"] {
      text-indent: 0;
      background-color: #ff724f;
      color: #fff;
    }
    .radio {
      font-size: pr(28px);
      line-height: pr(80px);
      span {
        padding-left: pr(48px);
        background: url(../images/radio_nor.png) no-repeat left center;
        background-size: pr(32px) pr(32px);
        margin-right: pr(30px);
        &.sel {
          background: url(../images/radio_sel.png) no-repeat left center;
          background-size: pr(32px) pr(32px);
        }
      }
    }
  }

  // 招生简章
  .admissions {
    padding: pr(24px);
    background-color: #f5f6f8;
    .admissions-cont {
      width: 100%;
      padding: 0 pr(30px);
      background-color: #ffffff;
      border-radius: pr(8px);
    }
    .cont-title {
      font-size: pr(30px);
      line-height: pr(40px);
      text-align: center;
      padding: pr(26px) 0;
      border-bottom: 1px dotted #cdcdcd;
    }
    .cont-txt {
      padding: pr(20px) 0;
      .txt-title {
        color: #543b89;
        font-weight: bold;
        padding: pr(20px) 0;
      }
    }
  }

  // 校园风采
  .campus {
    padding: pr(24px);
    background-color: #f5f6f8;
    li {
      margin-bottom: pr(24px);
    }
  }

  // 课程设置
  .lessons {
    padding: pr(24px);
    background-color: #f5f6f8;
    .lessons-cont {
      padding: pr(20px) pr(30px);
      background-color: #ffffff;
      border-radius: pr(8px);
      .cont-title {
        font-size: pr(30px);
        text-align: center;
        border-bottom: 1px dotted #cdcdcd;
        padding-bottom: pr(20px);
        margin-bottom: pr(20px);
        .sub {
          font-size: pr(24px);
          color: #666666;
        }
        span {
          vertical-align: middle;
        }
        img {
          height: pr(21px);
          vertical-align: middle;
        }
      }
      li {
        line-height: pr(42px);
        color: #444444;
        @extend %wap-point;
        .key {
          color: #999999;
          .empty {
            display: inline-block;
            width: 2em;
            height: 100%;
          }
        }
      }
    }
  }
  .lessons-intro {
    padding: 0 pr(24px) pr(30px);
    background-color: #f5f6f8;
    .lcm-title {
      padding-left: pr(26px);
    }
    .intro-cont {
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(30px) pr(40px);
      p {
        margin-bottom: pr(10px);
      }
    }
  }

  // 师资团队
  .teacher-list {
    padding: pr(24px);
    background-color: #f5f6f8;
    li {
      margin-bottom: pr(24px);
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(30px) pr(30px) pr(20px) 0;
      @extend .space-between;
      .item-l {
        width: 74%;
        .l-name {
          font-size: pr(32px);
          font-weight: bold;
          margin-bottom: pr(10px);
          &::before {
            display: inline-block;
            content: "";
            width: pr(5px);
            height: pr(34px);
            background-color: #543b89;
            vertical-align: middle;
            margin-right: pr(30px);
          }
          span {
            vertical-align: middle;
          }
        }
        .l-text {
          @include ells(4);
          margin: 0 0 pr(10px) pr(30px);
          &.show {
            display: block;
          }
        }
        .fold {
          font-size: pr(22px);
          line-height: pr(40px);
          color: #444444;
          text-align: center;
          cursor: pointer;
          margin-left: pr(30px);
          span {
            vertical-align: middle;
          }
          .icon {
            display: inline-block;
            width: pr(18px);
            height: pr(12px);
            background: url(../images/down.png) no-repeat;
            background-size: 100% 100%;
            margin-left: pr(6px);
            vertical-align: middle;
          }
        }
        .down {
          color: #4b4b4b;
          .icon {
            background: url(../images/up.png) no-repeat;
            background-size: 100% 100%;
          }
        }
      }
      .item-r {
        width: 24%;
        display: flex;
        flex-direction: column;
        img {
          border-radius: pr(5px);
          margin-bottom: pr(18px);
        }
        .r-btn {
          font-size: pr(24px);
          line-height: pr(51px);
          color: #ffffff;
          background-image: linear-gradient(-56deg, #ff724f 0%, #ff8d71 100%);
          box-shadow: pr(-3px) pr(2px) pr(13px) 0px rgba(255, 114, 79, 0.44);
          border-radius: pr(3px);
          text-align: center;
        }
      }
    }
  }

  // 新闻终端
  .news-ftu {
    padding: pr(24px) pr(24px) 0;
    background-color: #f5f6f8;
    .ftu-cont {
      background-color: #ffffff;
      border-radius: pr(8px);
      padding: pr(20px);
      img {
        padding: pr(20px) 0;
      }
    }
    .cont-title {
      font-size: pr(32px);
      line-height: pr(40px);
    }

    .publish {
      font-size: pr(22px);
      line-height: pr(40px);
      color: #888888;
      border-bottom: 1px dotted #cdcdcd;
      padding-bottom: pr(20px);
      img {
        height: pr(19px);
        vertical-align: middle;
        margin-right: pr(8px);
        padding: 0;
      }
      span {
        vertical-align: middle;
        margin-right: pr(20px);
      }
    }
    .sign-up {
      display: block;
    }
    .subtitle {
      font-weight: bold;
      color: #3084f7;
      margin-bottom: pr(10px);
    }
    .cont-page {
      border-top: 1px dotted #cdcdcd;
      margin-top: pr(20px);
      padding-top: pr(20px);
      a {
        display: block;
        color: #666666;
      }
      span {
        color: #333333;
      }
    }
    .visit-school {
      img {
        border-radius: pr(8px);
      }
    }
    .apply {
      padding: 0;
      .apply-cont {
        &.pure {
          background: #fff;
        }
      }
      input,
      select {
        background-color: #f5f6f8;
      }
      input[type="submit"] {
        background-color: #ff724f;
      }
    }
    .infos{
      padding: pr(20px) 0 pr(30px);
    }
    .query{
      padding: 0 0 pr(30px);
    }
  }

  .page-body {
    display: none;
  }

  /*面包屑*/
  .page-path {
    display: none;
  }

  .main {
    display: none;
  }

  .friend {
    display: none;
  }

  .footsusp {
    display: none;
  }

  #footer {
    display: none;
  }

  /*thea左侧自定义漂浮*/
  #msRfloat {
    display: none;
  }
}
